<h1> Choose the year</h1>
<div class = "block-align">
<div class= "row">
  <div class = "col-md-3">
    <%=link_to "year 1",subjects_path(year:1),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 2",subjects_path(year:2),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 3",subjects_path(year:3),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 4",subjects_path(year:4),class: "btn btn-info"%>
  </div>
</div>
<br>
<br>
<br>
<div class= "row">
  <div class = "col-md-3">
    <%=link_to "year 5",subjects_path(year:5),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 6",subjects_path(year:6),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 7",subjects_path(year:7),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 8",subjects_path(year:8),class: "btn btn-info"%>
  </div>
</div>
<br>
<br>
<br>
<div class= row>
  <div class = "col-md-3">
    <%=link_to "year 9",subjects_path(year:9),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 10",subjects_path(year:10),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 11",subjects_path(year:11),class: "btn btn-info"%>
  </div>
  <div class = "col-md-3">
    <%=link_to "year 12",subjects_path(year:12),class: "btn btn-info"%>
  </div>
</div>
</div>
