<p id="notice"><%= notice %></p>
<h1>Subjects</h1>
<div class ="container">
  <table>
    <% if @subjects %>
      <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.subject_name %></td>
          <td><%= link_to 'Show', posts_path(subject_id:subject.id) %></td>
          <td><%= link_to "Add post",new_post_path(subject_id:subject.id),class: "btn btn-info"%></td>
        </tr>
      <% end %>
     </tbody>
     <%else%>
      <%= "No posts, Be the first to add" %>
      <%= link_to "Add Subject",new_subject_path,class: "btn btn-info"%>
     <%end%>
  </table>
</div>
