<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class ="row">
      <% @posts.each do |post| %>
      <div class ="col-md-4">
      <div class ="card">
        <div class="card-title"><%=post.title%></div>
        <!-- <div class="card-content"><%=post.description%></div> -->
        <!-- <%= post.approved %> -->
        <div class ="card-text"><%= post.user.email%></div>
        <div class ="card-image"><%=image_tag(post.image_url)%></div>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Show', post %>
        <!-- <!-%= link_to "upvote", like_post_path(post), method: :put%> -->
        <% if current_user %>
           <%= link_to like_post_path(post), method: :put do%>
             <%= current_user.voted_as_when_voted_for(post) == true ? icon("heart") : icon("heart-o") %>
           <% end %>
           <% else %>
           <%= icon("heart-o") %>
           <% end %>
        <%= post.score%>

      </div>
      </div>
    <% end %>

</div>
