<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class ="row">
      <% @posts.each do |post| %>
      <div class ="col-md-4">
      <div class ="card">
        <div class="card-title"><%=post.title%></div>
        <!-- <div class="card-content"><%=post.description%></div> -->
        <!-- <%= post.approved %> -->
        <div class ="card-text"><%= post.user.email%></div>
        <div class ="card-image"><%=image_tag(post.image_url)%></div>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Show', post %>
      </div>
      </div>
    <% end %>

</div>


<div class="card">
  <div class ="card-img-top"><%=image_tag(@posts.first.image_url)%></div>
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
